:root {
  --branco: #ffffff;
  --cinza-claro: #f2f2f2;
  --cinza: #999999;
  --cinza-escuro: #434343;
  --preto-primaria: #212121;
  --preto: #000000;
  --vermelho: #e55151;
  --vermelho-claro: #ff9f9f;
  --vermelho-escuro: #af0303;
  --verde: #16734b;
  --verde-claro: #2aac73;
  --verde-escuro: #0c3b27;

  --botao-primario: var(--verde);
  --botao-primario-hover: var(--verde-claro);
  --botao-primario-pressionado: var(--verde-escuro);
  --botao-cancelar: var(--vermelho);
  --botao-cancelar-hover: var(--vermelho-claro);
  --botao-cancelar-pressionado: var(--vermelho-escuro);

  --caixa-mensagem-erro: var(--vermelho-claro);
  --mensagem-erro-texto: var(--vermelho-escuro);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex: 1;                    
  background-color: var(--cinza-claro);
}

.menu {
  width: 260px;
  flex-shrink: 0;             
  background-color: var(--cinza-claro);
  border-right: 1px solid var(--branco);
  overflow-y: auto;
}

.content {
  flex: 1;
  padding: 20px 30px;
  overflow-y: auto;
}